*{background-color: cadetblue;}

.lesson {
  background-color: rosybrown;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
